/* APP */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*   ////////  CUSTOM CSS  \\\\\\\\   */


/* NAVBAR */

.navbar {
  position: relative;
  z-index: 1000;
}
.navbar .nav-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.285);
}

  .navbar .hide-on-med-and-down .elegante-navbar  {
    color: rgb(40, 40, 40) !important;
    letter-spacing: 2.3px;
    font-size: 21px;
    -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: rgb(40, 40, 40);
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Muli;
  }
  .navbar .hide-on-med-and-down .elegante-navbar:hover  {
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }
    .navbar .hide-on-med-and-down li a:hover {
      background-color: rgba(0, 0, 0, 0.676) !important;
      color: white !important; 
    }  
    .navbar .hide-on-med-and-down li a {
      color: rgb(0, 0, 0) !important;
      letter-spacing: 0.4px;
      font-size: 17px;
      padding-left: 14px;
      padding-right: 14px;
    }
  
  #form1 {
    height: 64px;
    width: 220px;
  }
    .input-field {
      margin-top: 0;
    }
    #form1 .input-field {
      margin: 0;
      background-color: rgb(255, 255, 255);
      padding-right: 50px;
    }
      #search {
        background-color: white;
      }
      #search-icon {
        color: rgb(58, 58, 58);
      }
  
  .navbar .sidenav-trigger {
    color: rgba(0, 0, 0, 0.824);
  }
    .navbar .sidenav li a {
      color: rgb(0, 0, 0) !important;
      letter-spacing: 0.4px;
      font-size: 16px;
      font-weight: 400;
      padding-left: 16px;
      padding-right: 16px;
    }
    .navbar .sidenav li a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .navbar .sidenav li a:hover {
      background-color: rgba(0, 0, 0, 0.676) !important;
      color: white !important; 
      transition: 0.12s ease !important;
    }  
    .navbar .sidenav .elegante-navbar  {
      color: rgb(40, 40, 40) !important;
      -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: rgb(40, 40, 40);
      letter-spacing: 2.5px;
      font-size: 18px;
      font-weight: 500;
      padding-left: 20px;
      padding-right: 20px;
      font-family: Muli;
    }
    .navbar .sidenav .elegante-navbar:hover  {
      -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      transition: 0.12s ease !important;
    }
    .navbar .sidenav li i {
      cursor: pointer;
      height: 48px;
      padding-top: 13px;
    }
    .navbar .sidenav li a i {
      display: flex;
      align-items: flex-end;
    } 
    .navbar .sidenav li a i { 
      color: rgb(0, 0, 0) !important;
      letter-spacing: 0.5px;
      font-size: 24px;
      font-weight: 400;
      padding-left: 16px;
      padding-right: 16px;
    }
    .navbar .sidenav li:not(:nth-child(2)) i:hover {
      cursor: pointer;
      color: rgb(255, 255, 255) !important;
    }
    .navbar .sidenav li:not(:nth-child(2)):hover i {
      color: rgb(255, 255, 255) !important;
    }
  
    #form2 {
      height: 48px;
      padding-right: 50px;
      padding-left: 50px;
    }
      .input-field {
        margin-top: 0;
      }
      #form2 .input-field {
        margin: 0;
        background-color: rgb(255, 255, 255);
        padding-right: 50px;
        padding-left: 50px;
      }
      #search2 {
        background-color: rgb(255, 255, 255);
        height: 48px;
        border: none;
      }
      #search-icon {
        color: rgb(58, 58, 58) !important;
      }
      .label-icon {
        transform: none !important;
      }
      .input-field input {
        background-color: white !important;
      }


/* HOMEPAGE-LOGO */

.homepage-logo-wrapper {  
  background: linear-gradient(rgba(0, 0, 0, 0.201), rgba(0, 0, 0, 0.434), rgba(5, 5, 5, 0.279)), 
              url("images/homepage_logo/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 120%;
  background-position: 60% 20%;
}
@media screen and (max-width: 600px) {
  .homepage-logo-wrapper {
    padding-top: 56px;
  }
}

  .homepage-logo-wrapper p {
    color: white;
    font-size: 115px;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    letter-spacing: 15px;
    font-family: Muli;
    width: 100vw;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
  }
@media screen and (min-width: 1600px) {
  .homepage-logo-wrapper {
    height: 730px;
    background-size: 130%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 190px;
    }
}
@media screen and (max-width: 1600px) {
  .homepage-logo-wrapper {
    height: 650px;
    background-size: 130%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 170px;
    }
}
@media screen and (max-width: 1400px) {
  .homepage-logo-wrapper {
    height: 580px;
    background-size: 130%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 140px;
    }
}
@media screen and (max-width: 1200px) {
  .homepage-logo-wrapper {
    height: 530px;
    background-size: 130%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 130px;
    }
}
@media screen and (max-width: 1000px) {
  .homepage-logo-wrapper {
    height: 460px;
    background-size: 130%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 110px;
    }
}
@media screen and (max-width: 920px) {
  .homepage-logo-wrapper {
    height: 440px;
    background-size: 135%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 100px;
    }
}
@media screen and (max-width: 850px) {
  .homepage-logo-wrapper {
    height: 430px;
    background-size: 145%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 92px;
    }
}
@media screen and (max-width: 800px) {
  .homepage-logo-wrapper {
    height: 420px;
  }
}
@media screen and (max-width: 750px) {
  .homepage-logo-wrapper {
    height: 400px;
    background-size: 145%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 85px;
    }
}
@media screen and (max-width: 700px) {
  .homepage-logo-wrapper {
    background-size: 150%;
    height: 390px;
  }
    .homepage-logo-wrapper p {
      font-size: 76px;
      -webkit-text-stroke-width: 6px;
    }
}
@media screen and (max-width: 650px) {
  .homepage-logo-wrapper {
    height: 370px;
    background-size: 160%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 72px;
      letter-spacing: 13px;
    }
}
@media screen and (max-width: 600px) {
  .homepage-logo-wrapper {
    height: 340px;
    background-size: 160%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 65px;
      -webkit-text-stroke-width: 5px;
      letter-spacing: 12px;
    }
}
@media screen and (max-width: 550px) {
  .homepage-logo-wrapper {
    height: 320px;
    background-size: 160%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 60px;
      -webkit-text-stroke-width: 4px;
      letter-spacing: 11px;
    }
}
@media screen and (max-width: 500px) {
  .homepage-logo-wrapper {
    height: 300px;
    background-size: 160%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 53px;
      -webkit-text-stroke-width: 4px;
      letter-spacing: 11px;
    }
}
@media screen and (max-width: 450px) {
  .homepage-logo-wrapper {
    height: 270px;
    background-size: 160%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 44px;
      -webkit-text-stroke-width: 4px;
      letter-spacing: 11px;
    }
}
@media screen and (max-width: 400px) {
  .homepage-logo-wrapper {
    height: 240px;
    background-size: 170%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 37px;
      -webkit-text-stroke-width: 4px;
      letter-spacing: 10px;
    }
}
@media screen and (max-width: 350px) {
  .homepage-logo-wrapper {
    height: 220px;
    background-size: 170%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 32px;
      -webkit-text-stroke-width: 3px;
      letter-spacing: 10px;
    }
}
@media screen and (max-width: 300px) {
  .homepage-logo-wrapper {
    height: 210px;
    background-size: 170%;
    background-position: 60% 20%;
  }
    .homepage-logo-wrapper p {
      font-size: 30px;
      -webkit-text-stroke-width: 3px;
      letter-spacing: 8px;
    }
}
@media screen and (max-width: 270px) {
  .homepage-logo-wrapper {
    height: 200px;
    background-size: 170%;
    background-position: 60% 0%;
  }
    .homepage-logo-wrapper p {
      font-size: 25px;
      -webkit-text-stroke-width: 3px;
      letter-spacing: 8px;
    }
}
@media screen and (max-width: 230px) {
  .homepage-logo-wrapper {
    height: 180px;
    background-size: 170%;
    background-position: 60% 0%;
  }
    .homepage-logo-wrapper p {
      font-size: 22px;
      -webkit-text-stroke-width: 2px;
      letter-spacing: 8px;
    }
}
  

/* HOMEPAGE-FASHION-CATEGORIES */

.homepage-fashion-categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fefefe;
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.295);
}
@media screen and (max-width: 700px) {
  .homepage-fashion-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: column;
  }
}

  .homepage-fashion-category {
    flex: 0 0 30%;
    background-color: black;
    margin: 15px;
    border: white 3px solid;
    box-shadow: 2px 3px 8px 0px rgb(61 61 61 / 33%);
  }
  .homepage-fashion-category a {
    transition: 0.3s;
  }
  .homepage-fashion-category a:hover { 
    background-color: rgb(0 0 0 / 30%);
  }
  .category-women { 
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(5, 5, 5, 0.142)),
                url("images/homepage_fashion_categories/1.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .category-men {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(5, 5, 5, 0.142)),
                url("images/homepage_fashion_categories/2.gif");
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .category-children {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(5, 5, 5, 0.142)),
                url("images/homepage_fashion_categories/3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-width: 500px) {
    .homepage-fashion-category {
      padding-top: 40px;
      padding-bottom: 40px;
      margin: 12px;
    }
    .homepage-fashion-category p {
      font-size: 40px !important;
    }
  }
  @media screen and (min-width: 600px) {
    .homepage-fashion-category {
      padding-top: 55px;
      padding-bottom: 55px;
      margin: 15px;
    }
    .homepage-fashion-category p {
      font-size: 43px !important;
    }
  } 
  @media screen and (min-width: 700px) {
    .homepage-fashion-category {
      padding-top: 55px;
      padding-bottom: 55px;
      margin: 12px;
    }
    .homepage-fashion-category p {
      font-size: 25px !important;
    }
  } 
  @media screen and (min-width: 850px) {
    .homepage-fashion-category {
      padding-top: 70px;
      padding-bottom: 70px;
      margin: 15px;
    }
    .homepage-fashion-category p {
      font-size: 29px !important;
    }
  }
  @media screen and (min-width: 920px) {
    .homepage-fashion-category p {
      font-size: 33px !important;
    }
  }
  @media screen and (min-width: 1000px) {
    .homepage-fashion-category {
      padding: 35px;
      padding-top: 80px;
      padding-bottom: 80px;
      margin: 15px;
    }
    .homepage-fashion-category p {
      font-size: 40px !important;
    }
  }
  @media screen and (min-width: 1200px) {
    .homepage-fashion-category {
      padding: 35px;
      padding-top: 100px;
      padding-bottom: 100px;
      margin: 15px;
    }
    .homepage-fashion-category p {
      font-size: 45px !important;
    }
  }
  @media screen and (min-width: 1600px) {
    .homepage-fashion-category {
      padding: 35px;
      padding-top: 130px;
      padding-bottom: 130px;
      margin: 15px;
    }
    .homepage-fashion-category p {
      font-size: 52px !important;
    }
  }
  @media screen and (max-width: 700px) {
    .homepage-fashion-category {
      display: flex;
      background-color: black;
      padding: 110px;
      width: 85vw;
      align-items: flex-start;
      justify-content: center;
    }
    .homepage-fashion-category:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @media screen and (max-width: 550px) {
    .homepage-fashion-category {
      display: flex;
      background-color: black;
      padding: 80px;
      width: 85vw;
      align-items: flex-start;
      justify-content: center;
    }
    .homepage-fashion-category:not(:last-child) {
      margin-bottom: 15px;
    }
  }


/* HOMEPAGE-BACKGROUND-QUOTE */

.homepage-background { 
  background: linear-gradient(rgba(0, 0, 0, 0.347), rgba(0, 0, 0, 0.498), rgba(5, 5, 5, 0.324)), 
            url("images/homepage_background_quote/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 130%;
  background-position: 30% 10%;
  position: relative;
  margin-top: -20px;
  top: -25px;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.064);
  margin-bottom: -30px;
}

/* QUOTE */

.homepage-background-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 35px;
  width: 100%;
}

  .homepage-background-quote p {
    font-size: 35px;
    padding-right: 60px;
    padding-left: 60px;
    font-family: Muli;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
  }
@media screen and (min-width: 1600px) {
  .homepage-background { 
    height: 750px;
  }
    .homepage-background-quote p {
      font-size: 50px;
    }
}
@media screen and (max-width: 1600px) {
  .homepage-background { 
    height: 700px;
  }
    .homepage-background-quote p {
      font-size: 43px;
    }
}
@media screen and (max-width: 1500px) {
  .homepage-background { 
    height: 650px;
  }
    .homepage-background-quote p {
      font-size: 40px;
    }
}
@media screen and (max-width: 1400px) {
  .homepage-background { 
    height: 600px;
  }
    .homepage-background-quote p {
      font-size: 35px;
    }
}
@media screen and (max-width: 1100px) {
  .homepage-background { 
    height: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .homepage-background { 
    height: 450px;
  }
}
@media screen and (max-width: 900px) {
  .homepage-background { 
    height: 410px;
  }
    .homepage-background-quote p {
      font-size: 30px;
      padding-right: 40px;
      padding-left: 40px;
      letter-spacing: 2px;
    }
}
@media screen and (max-width: 800px) {
  .homepage-background { 
    height: 390px;
    background-size: 140%;
  }
    .homepage-background-quote p {
      font-size: 25px;
      padding-right: 35px;
      padding-left: 35px;
      letter-spacing: 2px;
    }
}
@media screen and (max-width: 700px) {
  .homepage-background { 
    height: 400px;
    background-size: 150%;
    background-position: 40% 10%;
  }
    .homepage-background-quote p {
      font-size: 24px;
      padding-right: 20px;
      padding-left: 20px;
      letter-spacing: 2px;
    }
}
@media screen and (max-width: 650px) {
  .homepage-background { 
    height: 370px;
  }
    .homepage-background-quote p {
      font-size: 22px;
      padding-right: 17px;
      padding-left: 17px;
      letter-spacing: 2px;    
    }
}
@media screen and (max-width: 600px) {
  .homepage-background { 
    height: 340px;
    background-size: 155%;
  }
    .homepage-background-quote p {
      font-size: 19px;
      padding-right: 17px;
      padding-left: 17px;
      letter-spacing: 2px;     
    }
}
@media screen and (max-width: 545px) {
  .homepage-background { 
    height: 320px;
    background-size: 165%;
  }
  .homepage-background-quote {
    padding: 30px;
    padding-right: 20px;
    padding-left: 20px; 
  }
    .homepage-background-quote p {
      font-size: 19px;
      padding-right: 17px;
      padding-left: 17px;
      letter-spacing: 2px;     
    }
}
@media screen and (max-width: 480px) {
  .homepage-background { 
    height: 300px;
    background-size: 175%;
  }
    .homepage-background-quote p {
      font-size: 17px;
    }
}
@media screen and (max-width: 450px) {
  .homepage-background { 
    height: 270px;
    background-size: 180%;
    background-position: 43% 10%;
  }
  .homepage-background-quote {
    padding: 26px; 
  }
    .homepage-background-quote p {
      font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
  .homepage-background { 
    height: 250px;
    background-size: 185%;
    background-position: 45% 10%;
  }
  .homepage-background-quote {
    padding: 26px; 
  }
    .homepage-background-quote p {
      font-size: 15px;
    }
}
@media screen and (max-width: 355px) {
  .homepage-background { 
    height: 230px;
    background-size: 200%;
    background-position: 50% 10%;
  }
  .homepage-background-quote {
    padding: 22px; 
  } 
    .homepage-background-quote p {
      font-size: 14px;
    }
}
@media screen and (max-width: 325px) {
  .homepage-background { 
    height: 220px;
    background-size: 220%;
    background-position: 50% 10%;
  }
  .homepage-background-quote {
    padding: 20px; 
  }
    .homepage-background-quote p {
      font-size: 13px;
    }
}
@media screen and (max-width: 280px) {
  .homepage-background { 
    height: 200px;
    background-size: 230%;
    background-position: 50% 10%;
  }
  .homepage-background-quote {
    padding: 18px; 
  }
    .homepage-background-quote p {
      font-size: 12px;
    }
}
@media screen and (max-width: 250px) {
  .homepage-background { 
    height: 175px;
    background-size: 230%;
    background-position: 50% 10%;
  }
  .homepage-background-quote {
    padding: 16px; 
  }
    .homepage-background-quote p {
      font-size: 10px;
    }
}
@media screen and (max-width: 220px) {
  .homepage-background { 
    height: 170px;
    background-size: 230%;
    background-position: 50% 10%;
  }
  .homepage-background-quote {
    padding: 15px; 
  }
    .homepage-background-quote p {
      font-size: 9px;
    }
}
@media screen and (max-width: 200px) {
  .homepage-background { 
    height: 150px;
    background-size: 230%;
    background-position: 50% 10%;
  }
  .homepage-background-quote {
    padding: 15px; 
  }
    .homepage-background-quote p {
      font-size: 8px;
    }
}
  

/* CAROUSEL */

.carousel {
  height: 560px !important;
}
  .carousel img {
    height: 650px !important;
    padding-bottom: 33px;
  }

@media screen and (min-width: 1400px) {
  .carousel {
    height: 780px !important;
  }
  .carousel img {
    height: 780px !important;
    width: 120% !important;
    transform: translateX(-5%);
  }
}
@media screen and (max-width: 1400px) {
  .carousel {
    height: 700px !important;
  }
  .carousel img {
    height: 700px !important;
    width: 120% !important;
    transform: translateX(-5%);
  }
}
@media screen and (max-width: 1200px) {
  .carousel {
    height: 650px !important;
  }
  .carousel img {
    height: 650px !important;
    width: 120% !important;
    transform: translateX(-5%);
  }
}
@media screen and (max-width: 1000px) {
  .carousel {
    height: 600px !important;
  }
  .carousel img {
    height: 600px !important;
    width: 120% !important;
    transform: translateX(-5%);
  }
}
@media screen and (max-width: 880px) {
  .carousel {
    height: 550px !important;
  }
  .carousel img {
    height: 550px !important;
    width: 120% !important;
    transform: translateX(-5%);
  }
}
@media screen and (max-width: 800px) {
  .carousel {
    height: 460px !important;
  }
  .carousel img {
    height: 500px !important;
    width: 105% !important;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 700px) {
  .carousel {
    height: 400px !important;
  }
  .carousel img {
    width: 100% !important;
    height: 400px !important;
  }
}
@media screen and (max-width: 600px) {
  .carousel img {
    height: 400px !important;
    width: 120% !important;
    transform: translateX(-5%);
  }
}
@media screen and (max-width: 500px) {
  .carousel img {
    width: 150% !important;
    transform: translateX(-15%);
  }
}
@media screen and (max-width: 450px) {
  .carousel img {
    width: 180% !important;
    transform: translateX(-22%);
  }
}
@media screen and (max-width: 400px) {
  .carousel img {
    width: 190% !important;
    transform: translateX(-23%);
  }
}
@media screen and (max-width: 350px) {
  .carousel img {
    width: 190% !important;
    transform: translateX(-20%);
  }
}
  

/* HOMEPAGE-POPULAR-ITEMS */

.homepage-popular-items-header {
  font-size: 35px;
  margin-left: 40px;
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  color: rgb(38, 38, 38);
  text-decoration: underline rgb(38, 38, 38) 2.2px;
  text-underline-offset: 6px;
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color: rgb(38, 38, 38);
}


.homepage-popular-items-cards {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 !important;
}


/* CARD */

.item-card {
  height: 500px;
  background-color: rgb(255, 255, 255);
}

  .item-card-upper {
    background-color: rgb(188, 188, 188);
    background: url("card_pictures/picture2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    height: 340px;
    margin-bottom: 2px;
  }
@media screen and (max-width: 1400px) {
  .item-card {
    height: 500px;
  } 
    .item-card-upper {
      background-position-x: 50%;
      height: 340px;
    }
}
    .item-card-upper1 {
      height: 295px;
    }
    .item-card-upper2 {
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(255, 255, 255, 0.47);
    }
      .item-card-upper2-color-changer {
        height: 13px;
        width: 13px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        margin-left: 7px;
        margin-right: 7px;
        color: transparent;
        user-select: none;
        cursor: pointer;
        box-shadow: 0.4px 0.5px 1.3px rgb(0, 0, 0);
      }
      .item-card-upper2-color-changer:hover,
      .item-card-upper2-color-changer:focus {
        height: 15px;
        width: 15px;
        cursor: pointer;
      }

  .item-card-lower1 {
    background-color: rgb(255, 255, 255);
    height: 65px;
    display: flex;
    padding-top: 3px;
    border-bottom: solid rgba(0, 0, 0, 0.228) 1px
  }
    .item-card-lower1-name {
      height: 62px;
      width: 82%;
      font-size: 13px;
      font-weight: 600;
      text-align: left;
    }
    .item-card-lower1-favorite {
      height: 62px;
      width: 18%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .heart {
        font-size: 26px;
        cursor: pointer;
        z-index: 5;
      }
     
  .item-card-lower2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-top: 5px;
  }
    .item-card-lower2-price {
      font-weight: 900;
      font-size: 17px;
      letter-spacing: 0.5px;
    }

@media screen and (min-width: 1400px) {
  .item-card {
    height: 600px;
  } 
    .item-card-upper {
      background-position-x: 50%;
      height: 440px;
    }
      .item-card-upper1 {
        height: 395px;
      }
}
@media screen and (max-width: 1400px) {
  .item-card {
    height: 500px;
  } 
    .item-card-upper {
      background-position-x: 50%;
      height: 340px;
    }
}


/* FOOTER */

.page-footer { 
  background-color: #f1f1f118 !important;
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.16) !important;
}
  .page-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grey-text.text-lighten-4 {
    color: black !important;
  }

